@model IEnumerable<CS305Project.Models.Form>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    @foreach (var form in Model)
    {
        <li>@form.FormType</li>
    }
</ul>